;------------------------------------------------;

[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

;------------------------------------------------;

[colors]
background = #1a1b26
foreground = #c0caf5 
background-alt = #24283b 
foreground-alt = #a9b1d6 
primary = #bb9af7 
secondary = #7aa2f7 
alert = #f7768e 

[widget-underline-colors]
fg-1 = #c0caf5
fg-2 = #bb9af7
fg-3 = #7aa2f7
fg-4 = #f7768e
fg-5 = #e0af68
fg-6 = #cfc9c2
fg-7 = #9ece6a
fg-8 = #9aa5ce
fg-9 = #b4f9f8
        
fg   = #c0caf5
bg   = #1a1b26
gr   = #565f89

;------------------------------------------------;

[bar/barbase]
width = ${env:width}
offset-x = ${env:offsetx}
monitor = ${env:monitor}
;offset-y = ${env:y}
;width = 100%
height = 25 
fixed-center = false 
background = ${colors.background}
foreground = ${colors.foreground}
line-size = 2
line-color = #f00
border-size = 0
border-color = #00000000
padding-left = 1
padding-right = 1
module-margin-left = 0
module-margin-right = 0
font-0 = "Fira Code:size=10:antialias=true:autohint=true;1"
font-1 = "FiraCode Nerd Font Mono:size=14:antialias=true:autohint=true;1"
font-2 = "Symbola:style=Black:size=12:antialias=true:autohint=true;1"
modules-center =
modules-right = sep7 pulseaudio sep6 eth sep5 memory sep4 cpu sep3 xkeyboard sep2 date sep1 time sep0
tray-position = right
tray-padding = 0
cursor-click = pointer
cursor-scroll = ns-resize

;------------------------------------------------;

[module/sep0]
type = custom/text
content = " |"
content-foreground = ${widget-underline-colors.gr}
content-background = ${widget-underline-colors.bg}

[module/time]
type = internal/date
interval = 1 
time = "%H:%M:%S "

label-background = ${widget-underline-colors.bg} 
label-foreground = ${widget-underline-colors.fg-1}
label = %time%
format-prefix = "🕓 "
format-prefix-background = ${self.label-background}
format-prefix-foreground = ${self.label-foreground} 
format-underline = ${widget-underline-colors.fg-1}

[module/sep1]
type = custom/text
content = " | "
content-foreground = ${widget-underline-colors.gr}
content-background = ${widget-underline-colors.bg}

[module/date]
type = internal/date
interval = 5
date = "%Y-%m-%d (%a)"

label-background = ${widget-underline-colors.bg}
label-foreground = ${widget-underline-colors.fg-2}
label = %date%
format-prefix = "📅 "
format-prefix-background = ${self.label-background}
format-prefix-foreground = ${self.label-foreground} 
format-underline = ${widget-underline-colors.fg-2}

[module/sep2]
type = custom/text
content = " | "
content-foreground = ${widget-underline-colors.gr}
content-background = ${widget-underline-colors.bg}

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock
blacklist-1 = scroll lock
blacklist-2 = caps lock

label-layout = %layout%
label-layout-background = ${widget-underline-colors.bg}
label-layout-foreground = ${widget-underline-colors.fg-3}
label-indicator-padding = 2
label-indicator-margin = 1

format-prefix = "⌨ "
format-prefix-background = ${self.label-layout-background}
format-prefix-foreground = ${self.label-layout-foreground}
format-underline = ${widget-underline-colors.fg-3}

[module/sep3]
type = custom/text
content = " | "
content-foreground = ${widget-underline-colors.gr}
content-background = ${widget-underline-colors.bg}

[module/cpu]
type = internal/cpu
interval = 2
label = %percentage:2%%
label-background = ${widget-underline-colors.bg}
label-foreground = ${widget-underline-colors.fg-4}
format-prefix = "⚛ "
format-prefix-background = ${self.label-background}
format-prefix-foreground = ${self.label-foreground}
format-underline = ${widget-underline-colors.fg-4}

[module/sep4]
type = custom/text
content = " | "
content-foreground = ${widget-underline-colors.gr}
content-background = ${widget-underline-colors.bg}

[module/memory]
type = internal/memory
interval = 2
label = %percentage_used%%
label-background = ${widget-underline-colors.bg}
label-foreground = ${widget-underline-colors.fg-5}
format-prefix = " "
format-prefix-background = ${self.label-background}
format-prefix-foreground = ${self.label-foreground}
format-underline = ${widget-underline-colors.fg-5}

[module/sep5]
type = custom/text
content = " | "
content-foreground = ${widget-underline-colors.gr}
content-background = ${widget-underline-colors.bg}

[module/eth]
type = internal/network
interface = enp3s0
interval = 1 

format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-connected-underline = ${widget-underline-colors.fg-6}
format-disconnected-underline = ${widget-underline-colors.fg-6}

label-connected = "🌍 ↑%upspeed% ↓%downspeed%" 
label-disconnected = "🌍 no internet :("

label-connected-background = ${widget-underline-colors.bg}
label-connected-foreground = ${widget-underline-colors.fg-6}
label-disconnected-background = ${self.label-connected-background}
label-disconnected-foreground = ${self.label-connected-foreground}

[module/sep6]
type = custom/text
content = " | "
content-foreground = ${widget-underline-colors.gr}
content-background = ${widget-underline-colors.bg}


[module/pulseaudio]
type = internal/pulseaudio
interval = 3

format-volume = <ramp-volume><label-volume> 
format-volume-underline = ${widget-underline-colors.fg-7}
label-volume = %percentage%%

label-muted = 🔇 muted
ramp-volume-0 = 🔈
ramp-volume-1 = 🔉
ramp-volume-2 = 🔊

label-volume-background = ${widget-underline-colors.bg}
label-volume-foreground = ${widget-underline-colors.fg-7}
label-muted-background = ${self.label-volume-background}
label-muted-foreground = ${catppuccin.gray-0}
ramp-volume-background = ${self.label-volume-background}
ramp-volume-foreground = ${self.label-volume-foreground}

[module/sep7]
type = custom/text
content = " | "
content-foreground = ${widget-underline-colors.gr}
content-background = ${widget-underline-colors.bg}

;------------------------------------------------;

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false
